/* вторичный цвет текста #212121 */
/*цвет основного текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #e5e5e5; */

/* Стили для index.html */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --footer-bg-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

/* page-header */

.page-header__container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  border-bottom: 1px solid #ececec;
}

/* site-nav */

.site-nav {
  display: block;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav__list {
  display: inline-flex;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  display: flex;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--text {
  color: var(--primary-text-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav__link--current::after {
  position: absolute;

  display: block;

  width: 48px;
  height: 4px;
  content: '';

  top: 78px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;

  fill: #757575;
}

.site-nav__link:hover .site-nav__icon,
.site-nav__link:focus .site-nav__icon {
  fill: var(--accent-color);
}

.site-nav__link--icon {
  margin-left: 305px;
}

/* logo header */

.logo {
  margin-right: 93px;

  color: var(--accent-color);
  font-family: raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo__text {
  color: var(--title-text-color);
  font-family: raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__text:hover,
.logo__text:focus {
  color: var(--accent-color);
}

/* overlay section */

.overlay {
  text-align: center;
  background-color: var(--footer-bg-color);

  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/overlay.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay__container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

.overlay__title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-right: 252px;
  padding-left: 252px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}

/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* task */

.task {
  padding-top: 94px;
  padding-bottom: 94px;
}

.task__title--task {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.task__list {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.task__item:not(:last-child) {
  margin-right: 30px;
}

.task__title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.task__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
}

.task__icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;

  align-items: center;
  justify-content: center;
  display: flex;

  margin-bottom: 30px;
}

/* our business section */

.our-business {
  display: flex;
  justify-content: center;

  padding-top: 94px;
  padding-bottom: 94px;
}

.our-business__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.our-business__list {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.our-business__list--position {
  position: relative;
}

.our-business__item {
  margin-right: 30px;
}

.our-business__item:last-child {
  margin-right: 0px;
}

.our-business__attachment {
  position: absolute;
  top: 224px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

/* team */

.team {
  display: flex;
  justify-content: center;

  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-bg-color);
}

.team__list {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.team__item {
  margin-right: 30px;
  text-align: center;

  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__title--primary {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team__title {
  margin-top: 30px;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}

.team__text {
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.2px;
}

.team-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  list-style-type: none;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon__item {
  margin-right: 10px;
  margin-bottom: 30px;
}

.team-icon__item:last-child {
  margin-right: 0;
}

.team-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon__link:hover .team-icons,
.team-icon__link:focus .team-icons {
  fill: #ffffff;
}

.team-icon__link:hover,
.team-icon__link:focus {
  background-color: var(--accent-color);
}

.team-icons {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* client */

.client-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;

  align-items: center;
  justify-content: center;
  display: flex;
}

.icon-client:not(:last-child) {
  margin-right: 30px;
}

.item-client {
  display: flex;
}

.client-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-svg,
.client-link:focus .client-svg {
  fill: var(--accent-color);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: raleway, serif;
  font-size: 26px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover .logo-footer,
.logo:focus .logo-footer {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;

  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer-link {
  display: inline-block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.title-footer {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.social-footer {
  display: inline-flex;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #434345;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-footer-svg:not(:first-child) {
  margin-left: 10px;
}

.social-links {
  margin-top: 12px;
  margin-left: 70px;
}

/* button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.button__primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

.button__secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: none;
  border-radius: 4px;

  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__secondary:hover,
.button__secondary:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* стили для li */

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* стили для portfolio.html */

.cards {
  padding-bottom: 94px;
}

.progect {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.progect .item:not(:last-child) {
  margin-right: 8px;
}

.progect:last-child {
  margin-bottom: 0;
}

.progects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.progects-link {
  text-decoration: none;
}

.progects-card {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progects-card:hover,
.progects-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.progects-card:hover .progect-overlay {
  transform: translateY(0);
  opacity: 1;
}

.overlays {
  position: relative;
  overflow: hidden;
}

.overlays:hover .progect-overlay {
  transform: translateY(0);
  opacity: 1;
}

.progect-overlay {
  position: absolute;

  display: block;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  padding: 63px 24px;

  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 28px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.progects .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.progects .item:nth-child(3n) {
  margin-right: 0;
}

.progects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-title-progect {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.names {
  min-width: 370px;
  padding: 20px 24px;
}

.progects .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
}

.progects .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}

.text {
  padding: 0;
  margin: 0;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
}

.close-modal {
  position: absolute;

  border: none;
  left: 486px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-color);
}

.icon-close {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 6px 6px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

/* form modal */

.title-form {
  margin-top: 40px;
  margin-bottom: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/* form footer*/

.form {
  width: 570px;
  padding-top: 12px;
  margin-left: 93px;
}

.form-group input {
  margin-right: 12px;
  margin-left: 0;
  padding-left: 15px;

  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: flex;
  text-align: center;
  align-items: center;

  margin-left: 0;
  padding-left: 29px;

  font-family: inherit;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;

  cursor: pointer;
}

.form-field-footer {
  display: flex;
}

.form-footer-svg {
  margin-left: 10px;
}

.form-modal {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-label-tel {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.form-textarea-email {
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea-email:hover,
.form-textarea-email:focus {
  border-color: #2196f3;
}

.form-textarea-email::placeholder {
  padding: 12px 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea-email.comit {
  height: 120px;
}

.form-input-email {
  position: relative;

  padding-left: 30px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-email:hover,
.form-input-email:focus {
  border-color: #2196f3;
}

.form-input-email:hover + .form-input-svg,
.form-input-email:focus + .form-input-svg {
  fill: #2196f3;
  border: #2196f3;
}

.text-form {
  margin-top: 20px;
  margin-bottom: 0;

  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-icon {
  position: relative;

  content: '';
  display: inline-block;

  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  width: 16px;
  height: 15px;
}

.form-input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-input-checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.form-link {
  color: #2196f3;
  text-decoration-line: underline;
}

.link {
  text-decoration: none;
}

.form-input-svg {
  position: absolute;
  top: 50%;
  left: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
  margin-top: 30px;
  margin-left: 164px;
  padding: 0;
  font-family: inherit;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;

  cursor: pointer;
}

.form-checkbox {
  margin-top: 20px;
  margin-left: 52px;
}

.form-checkbox input[type='checkbox'] {
  position: absolute;
}

.icon-border {
  position: relative;
}
